* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Gothic A1', sans-serif;
	font-size: 16px;
  }
  
@media only screen and (max-width: 767px) {
body {
	font-size: 14px;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
body {
	font-size: 16px;
}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
body {
	font-size: 18px;
}
}

@media only screen and (min-width: 1200px) {
body {
	font-size: 20px;
}
}

header {
	position: sticky;
	top: 0;
    animation: colourchange 10s infinite;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
	text-align: center;
	align-items: center;
	z-index: 2;
}

a {
	text-decoration: none;
	color: black;
  }

.container {
    max-width: 70vw;
	margin: 0 auto;
	padding: 0 20px;
}

.cards {
    max-width: 70vw;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.contact {
    max-width: 70vw;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	margin: 0 auto;
	padding: 0 20px;
}

#about {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#myimg{
	max-width:40%;
	height: auto;
	border-radius: 30px;
}

.flexy{
    max-width: 80vw;
	height: 50%;
	display:flex;
	flex-flow: column wrap;
	align-items: center;
	text-align: justify;

}

nav ul {
	text-align: center;
	justify-content: center;
	align-items: center;
list-style: none;
display: flex;
}

nav ul li {
margin: 0 10px;
}

nav ul li a {
color: #fff;
text-decoration: none;
transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
	text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

main {
padding: 50px 0;
}

img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
}

section {
margin-bottom: 50px;
}

section h2 {
font-size: 2em;
text-align: center;
margin-bottom: 30px;
}

.card {
border: 0px solid #ccc;
padding: 20px;
margin: 20px;
margin-bottom: 20px;
transition: box-shadow 0.5s ease-in-out;

}

.card:hover {
box-shadow: 0 0 10px #333;
}

footer {
background-color: #333;
color: #fff;
text-align: center;
padding: 20px;
}
	
@media (max-width: 768px) {
	header {
	flex-direction: column;
	align-items: flex-start;
	}

	nav {
		margin-top: 20px;
	}
}

.flip {
	background-color: transparent;
	width: 20vw;
	height: 20vh;
	border: 1px solid #f1f1f1;
	flex-direction: column;
	perspective: 50vw;
	text-align: center;
	justify-content: center;
	align-items: center;

  }
  .flip:hover .flip-inner {
	transform: rotateY(180deg);
  }
  .flip-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform-style: preserve-3d;
	justify-content: center;
	align-items: center;
  }
  

  .flip-back {
	background-color: dodgerblue;
	color: white;
	transform: rotateY(180deg);
	justify-content: center;
	align-items: center;
  }

  .flip-front, .flip-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
  
  .flip-front {
	background-color: #bbb;
	color: black;
  }
  
h1 {
	overflow: hidden;
	border-right: .15em solid orange;
	white-space: nowrap; 
	margin: 0 auto;
	letter-spacing: .2em;
	animation: 
	  typing 2s steps(40, end),
	  blink-caret .75s step-end infinite;
  }
  

@keyframes colourchange {
0% {background-color: rgb(0, 174, 255);}
25%{background-color:rgb(0, 60, 255);}
75%{background-color:rgb(176, 92, 245);}
100%{background-color:rgb(0, 174, 255);}
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange; }
  }

/*
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
*/